/*----------------------------------------------------------------------------------------------------------------*\
    BASIC RESET - please use a better one in production
\*----------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #333;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; 
}

.pageContainer {
    max-width: 400px;
    margin: 0 auto;
}

.form {
    border-radius: 5px;
    padding: 15px 15px 0 15px;
    
    background: #f2f2f2;
}

.textContainer {
    padding-top: 20px;
    
    text-align: center;
}





/*----------------------------------------------------------------------------------------------------------------*\
    DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
body {
    padding-top: 20px;
    
    background: #fff;
    
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    
    position: relative;
}

.cardType {
    margin-bottom: 15px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FORM ELEMENTS
\*----------------------------------------------------------------------------------------------------------------*/
label {
    width: 100%;
    margin-bottom: 5px;
    display: block;
    
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
    
    background: #fff;
    
    font-size: 1em;
    line-height: 1em;
    
    cursor: text;
}

input.valid,
input:focus.valid {
    background: #C7F2C8;
}

input.notValid,
input:focus.notValid {
    background: #F78181;
}

input:focus {
    background: #fff;
    
    outline: 0;
}

select {
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
    
    cursor: pointer;
}

select:focus {
    outline: 0;
}